bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/InvestindoEmNegocio/wwwroot/uploads/avatars/*
!/InvestindoEmNegocio/wwwroot/uploads/avatars/.gitkeep
perf/config/local.json
perf/results/*.json
